<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="./payment.js"></script>
	<script>
		function parseURLParams() {
			url = document.location.href;
			console.log('url: parse url params', url);
			var queryStart = url.indexOf("?") + 1,
				queryEnd   = url.indexOf("#") + 1 || url.length + 1,
				query = url.slice(queryStart, queryEnd - 1),
				pairs = query.replace(/\+/g, " ").split("&"),
				parms = {}, i, n, v, nv;

			if (query === url || query === "") return;

			for (i = 0; i < pairs.length; i++) {
				nv = pairs[i].split("=", 2);
				n = decodeURIComponent(nv[0]);
				v = decodeURIComponent(nv[1]);

				if (!parms.hasOwnProperty(n)) parms[n] = [];
				parms[n].push(nv.length === 2 ? v : null);
			}
			console.log('params', parms);
			document.getElementById('totalAmt').innerHTML = parms['totalAmt'];
			return parms;
		}
	</script>
</head>
<body onload="parseURLParams()">
	<div class="container">
		<h2 style="height: 55px" class="bg-primary text-center"> <p style="padding: 10px;">Complete payment and register.</p> </h2>
		<div style="margin-top: 100px;" class="row">
			<div style="margin-top: 30px;" class="col-md-4 mt-4"></div>
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Payment Details
						</h3>
					</div>
					<div class="panel-body">
						<form role="form">
						<div class="form-group">
							<label for="cardNumber">
								CARD NUMBER</label>
							<div class="input-group">
								<input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
									required autofocus />
								<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-7 col-md-7">
								<div class="form-group">
									<label for="expityMonth">
										EXPIRY DATE</label>
									<div class="col-xs-6 col-lg-6 pl-ziro">
										<input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
									</div>
									<div class="col-xs-6 col-lg-6 pl-ziro">
										<input type="text" class="form-control" id="expityYear" placeholder="YY" required /></div>
								</div>
							</div>
							<div class="col-xs-5 col-md-5 pull-right">
								<div class="form-group">
									<label for="cvCode">
										CV CODE</label>
									<input type="password" class="form-control" id="cvCode" placeholder="CV" required />
								</div>
							</div>
						</div>
						</form>
					</div>
				</div>
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><a href="#"><span class="badge pull-right"><span class="glyphicon glyphicon-rupee">Rs.</span>
						<span id="totalAmt"></span></span> Final Payment</a>
					</li>
				</ul>
				<br/>
				<a  onclick="pay()" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	
</body>
</html>

